.section-hero-01 {
    &__container {
        display: grid;
        gap: var(--grid-gap, 3rem);

        .content {
            .logo {
                margin-bottom: 3.5rem;

                @media (min-width: 45em) {
                    margin-bottom: 5rem;
                }
            }

            h1 {
                font-size: clamp(2rem, 3.5vw, 2.5rem);
                line-height: 1.2;
            }
        }

        @media screen and (min-width: 45em) {
            grid-template-columns: 1fr 1fr;
            align-items: center;

            &.al-start {
                align-items: start;
            }
        }

        @media screen and (min-width: 80em) {
            gap: var(--grid-gap, 6rem);
        }
    }
}
