.container {
    width: min(90%, 80em);
    margin-inline: auto;
}

.spacing {
    padding-block: var(--spacing);
}

.flow {
    --gap: 1rem;

    p + p {
        margin-top: var(--gap);
    }
}

.center {
    margin-inline: auto;
    text-align: center;
}

.pos-rel {
    position: relative;
}

.even-columns {
    display: grid;
    gap: var(--grid-gap, 3rem);

    @media (min-width: 45em) {
        grid-auto-flow: column;
        grid-auto-columns: 1fr;
        gap: 4rem;
    }
}

.uppercase {
    text-transform: uppercase;
}

.lowercase {
    text-transform: lowercase;
}

.al-end {
    align-items: end;
    align-items: flex-end;
}

.al-center {
    align-items: center;
    align-items: center;
}

.al-start {
    align-items: start;
    align-items: flex-start;
}
