// Colors
$colors: (
    "accent-primary": "--clr-accent-primary",
    "accent-secondary": "--clr-accent-secondary",
    "accent-tertiary": "--clr-accent-tertiary",
    "neutral-100": "--clr-neutral-100",
    "neutral-200": "--clr-neutral-200",
    "neutral-300": "--clr-neutral-300",
    "neutral-400": "--clr-neutral-400",
    "neutral-500": "--clr-neutral-500",
    "neutral-600": "--clr-neutral-600",
    "neutral-700": "--clr-neutral-700",
    "neutral-800": "--clr-neutral-800",
    "neutral-900": "--clr-neutral-900",
);

@each $name, $color in $colors {
    .clr-#{$name} {
        color: var(#{$color}, unset);
    }
}

@each $name, $color in $colors {
    .bg-#{$name} {
        background-color: var(#{$color}, unset);
    }
}
