// Font sizes
$font-sizes: (
    1: ".75rem",
    2: ".85rem",
    3: "1rem",
    4: "1.125rem",
    5: "1.25rem",
    6: "1.5rem",
    7: "1.75rem",
    8: "2rem",
    9: "2.25rem",
    10: "2.5rem",
);

@each $name, $size in $font-sizes {
    .fs-#{$name} {
        font-size: #{$size};
    }
}

// Font weights
$font-weights: (300, 400, 500, 600, 700);

@each $weight in $font-weights {
    .fw-#{$weight} {
        font-weight: #{$weight};
    }
}

// Font Family
$font-families: ("ff-primary", "ff-title", "ff-tertiary");

@each $name in $font-families {
    .#{$name} {
        font-family: var(--#{$name});
    }
}
