input:not([type="checkbox"]),
select,
label {
    display: block;
    width: 100%;
    outline: none;
    border: none;
    font-size: 1rem;
}

.consent-wrapper {
    font-size: 0.9rem;
    display: flex;
    gap: 0.5rem;
    align-items: flex-start;
    line-height: 1.5;
    margin-block: 1rem;

    input {
        top: 4px;
        position: relative;
    }
}

.form-001 {
    display: grid;
    gap: 1rem;

    input:not([type="checkbox"]),
    select {
        border: 1px solid #dcdcdc;
        min-height: 50px;
        padding-inline: 1rem;

        &::placeholder {
            color: var(--clr-placeholder, #999999);
        }

        &:focus {
            transition: border-color 200ms ease-in-out;
            will-change: border-color;
            border-color: var(--clr-accent-primary);
        }
    }

    .btn-form {
        min-width: 100%;
    }
}

.form-002,
.form-003 {
    display: grid;
    gap: 1.25rem;

    input:not([type="checkbox"]),
    select {
        border-bottom: 1px solid #dcdcdc;
        padding-block: 0.65rem 0.35rem;
        transition: border-color 220ms ease-in-out;
        will-change: border-color;

        &:focus {
            border-color: var(--clr-accent-primary, unset);
        }
    }

    label {
        color: #898989;
    }

    .btn-form {
        min-width: 70%;
    }
}

.form-003 {
    input:not([type="checkbox"]),
    select {
        border: 1px solid #dcdcdc;
        margin-top: 0.25rem;
        padding-inline: 0.5rem;
    }

    .btn-form {
        min-width: 100%;
    }
}

.form-004 {
    --b-radius: 7px;

    display: grid;
    gap: 1.25rem;

    .field-wrapper {
        border: 2px solid var(--clr-accent-primary);

        position: relative;
        padding: 0.5rem 1rem;
        border-radius: var(--b-radius);

        input:not([type="checkbox"]),
        select {
            background: none;
            width: 100%;
            min-height: 40px;
            outline: none;
            border: none;
            font-size: 1rem;
        }

        label {
            position: absolute;
            top: -0.75rem;
            padding-inline: 7px;
            font-weight: 300;
            background-color: var(--clr-body, #ffffff);
            font-size: 0.95rem;
            text-transform: uppercase;
            left: 1rem;
            max-width: max-content;
            color: var(--clr-placeholder, #787878);

            @media (max-width: 400px) {
                font-size: 0.8rem;
                font-weight: 300;
                top: -0.65rem;
            }
        }
    }

    .btn-form {
        min-width: 100%;
    }
}
