.list-001 {
    --columns-size: 20rem;

    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: center;
    gap: var(--grid-gap, clamp(2rem, 3.5vw, 4rem));
    margin-block: 5rem;
    text-align: center;

    li {
        flex: 0 0 var(--columns-size);
        display: grid;
        gap: 0.65rem;

        h4 {
            font-size: clamp(1.15rem, 3.5vw, 1.25rem);
            line-height: 1.33;
        }

        img {
            margin-inline: auto;
            overflow: hidden;
        }
    }
}

.list-002 {
}
