.list-001 {
    --columns-size: 20rem;

    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: center;
    gap: var(--grid-gap, clamp(2rem, 3.5vw, 4rem));
    padding-block: 5rem;
    text-align: center;

    li {
        flex: 0 0 var(--columns-size);
        display: grid;
        gap: 0.65rem;

        h4 {
            font-size: clamp(1.15rem, 3.5vw, 1.25rem);
            line-height: 1.33;
        }

        img {
            margin-inline: auto;
            overflow: hidden;
        }
    }
}

.list-002 {
    --columns-size: 18em;

    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: center;

    gap: var(--grid-gap, clamp(4rem, 3.5vw, 6rem));
    padding-block: 5rem;

    li {
        display: grid;
        flex: 0 0 var(--columns-size);

        > div {
            display: flex;
            gap: 1.25rem;
            align-items: center;
        }

        h4 {
            font-size: clamp(1.15rem, 3.5vw, 1.25rem);
            line-height: 1.33;
        }

        p {
            font-size: clamp(1rem, 2.5vw, 1.1rem);
            margin-top: 1.25rem;
        }
    }

    &.j-start {
        justify-content: flex-start;
    }
}

.list-003 {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.15rem;
    padding-block: 3.5rem;

    li:not(:last-child) {
        border-right: 2px solid var(--clr-primary);
        padding-right: 1.15rem;
    }

    &.j-center {
        justify-content: center;
    }
}

.list-004 {
    --columns-size: 14em;

    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;

    gap: var(--grid-gap, clamp(2.25rem, 3.5vw, 3.25rem));
    padding-block: 3.5rem;

    li {
        display: grid;
        gap: 0.5rem;
        flex: 0 0 var(--columns-size);
        margin-inline: auto;
        text-align: center;

        h4 {
            font-size: clamp(2.25rem, 3.5vw, 2.5rem);
            line-height: 1.33;
        }

        p {
            font-size: clamp(1rem, 2.5vw, 1.125rem);
        }
    }
}
