.container {
    width: min(90%, 80em);
    margin-inline: auto;
}

.spacing {
    padding-block: var(--spacing);
}

.flow {
    --gap: 1rem;

    p + p {
        margin-top: var(--gap);
    }
}

.center {
    margin-inline: auto;
    text-align: center;
}

.pos-rel {
    position: relative;
}

// Colors
$colors: (
    "clr-accent-primary": "--clr-accent-primary",
    "clr-accent-secondary": "--clr-accent-secondary",
    "clr-accent-tertiary": "--clr-accent-tertiary",
    "clr-neutral-100": "--clr-neutral-100",
    "clr-neutral-200": "--clr-neutral-200",
    "clr-neutral-300": "--clr-neutral-300",
    "clr-neutral-400": "--clr-neutral-400",
    "clr-neutral-500": "--clr-neutral-500",
    "clr-neutral-600": "--clr-neutral-600",
    "clr-neutral-700": "--clr-neutral-700",
    "clr-neutral-800": "--clr-neutral-800",
    "clr-neutral-900": "--clr-neutral-900",
);

@each $name, $color in $colors {
    .#{$name} {
        color: var(#{$color}, unset);
    }
}

// Font sizes
$font-sizes: (
    xs: ".75rem",
    sm: ".85rem",
    md: "1rem",
    lg: "1.125rem",
    xl: "1.25rem",
);

@each $name, $size in $font-sizes {
    .fs-#{$name} {
        font-size: #{$size};
    }
}

// Font weights
$font-weights: (300, 400, 500, 600, 700);

@each $weight in $font-weights {
    .fw-#{$weight} {
        font-weight: #{$weight};
    }
}

//Spaces
$spaces: (
    1: ".25rem",
    2: ".5rem",
    3: "1rem",
    4: "1.125rem",
    5: "1.25rem",
    6: "1.5rem",
    7: "1.75rem",
    8: "2rem",
    9: "2.25rem",
    10: "2.5rem",
);

$directions: (
    "mt": "margin-top",
    "mb": "margin-bottom",
    "m-block": "margin-block",
    "pt": "padding-top",
    "pb": "padding-bottom",
    "p-block": "padding-block",
);

@each $index, $space in $spaces {
    @each $shortcode, $direction in $directions {
        .#{$shortcode}-#{$index} {
            #{$direction}: #{$space};
        }
    }
} ;
