:root {
    --spacing: 4rem;

    @media screen and (min-width: 45em) {
        --spacing: 4.65rem;
    }

    @media screen and (min-width: 80em) {
        --spacing: 5.25rem;
    }
}

* {
    font-family: var(--ff-primary, "Poppins", sans-serif);
}

html {
    font-size: 93.75%;

    @media screen and (min-width: 45em) {
        font-size: 100%;
    }
}

body {
    background-color: var(--clr-body, #ffffff);
    color: var(--clr-text, #000000);
}

p {
    max-width: var(--width, unset);
}
