.page-header-wrapper {
    background-image: linear-gradient(
        230deg,
        hsl(0deg 0% 20%) 0%,
        hsl(344deg 0% 19%) 10%,
        hsl(344deg 0% 17%) 20%,
        hsl(344deg 0% 16%) 30%,
        hsl(344deg 0% 15%) 40%,
        hsl(0deg 0% 13%) 50%,
        hsl(344deg 0% 12%) 60%,
        hsl(344deg 0% 11%) 70%,
        hsl(344deg 0% 9%) 80%,
        hsl(344deg 0% 8%) 90%,
        hsl(0deg 0% 7%) 100%
    );
    padding-block: 0.75rem;
}

.page-header {
    display: flex;
    justify-content: space-between;
    padding-inline: 2rem;
    align-items: center;
}

.page-header img {
    max-width: 7rem;
}

section.active {
    position: relative;
}

section.active::after {
    content: attr(data-code);
    position: absolute;
    inset: 0;
    background-color: rgba(0 0 0 / 0.8);
    color: white;
    display: grid;
    place-items: center;
    font-weight: 700;
    font-size: 3rem;
}

.modal {
    background-color: #fff;
    color: #000;
    padding: 2rem;

    position: absolute;
    top: 7rem;
    right: 2rem;
    display: grid;
    place-items: center;
    box-shadow: 0 0 50px 10px rgba(0 0 0 /0.2);
    isolation: isolate;
    z-index: 999;

    display: none;
}

.modal.active {
    display: unset;
}

.modal .close {
    top: 1rem;
    right: 1rem;
    font-size: 1.5rem;
    cursor: pointer;
    background: none;
    border: none;
    font-family: sans-serif;
    position: absolute;
}

.modal h2 {
    margin-bottom: 1rem;
}

.modal form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.modal label {
    display: block;
    width: 100%;
}

.modal input {
    display: block;
    width: 100%;
}

.modal input:not([type="color"]) {
    padding: 0.25rem;
}

.modalbtn {
    font-size: 1rem;
    padding: 0.5rem 1.25rem;
    background-color: white;
    color: black;
    outline: none;
    border: none;
    cursor: pointer;
}

.modalbtn.reverse {
    background-color: black;
    color: white;
    grid-column: span 2;
    margin-top: 1rem;
}
